################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

bin/
obj/
.vs/
packages/
artifacts/
*.user
*.bkp
*.exe
*.DS_Store
